- wrap_layout :layout do
  = wrapped :div, :class => 'page-head' do
    %h2 Blog

  %article
    = wrapped :header do
      %h3= current_article.title

    = wrapped :aside, :class => 'meta' do
      %small
        %span.date= current_article.date.strftime('%e %b %Y')
        %span.author= "by #{current_article.data.author}"

    = wrapped :section, :class => 'body' do
      = yield
