= partial 'partials/primary_navigation'
= partial 'partials/secondary_navigation'
= link_to 'jRubyConf sites', '#', :class => 'twin'
= javascript_include_tag 'application'
= partial 'partials/analytics'
