---
title: Blog
body_class: blog
---
%article
  = wrapped :header do
    %h2 Blog

  = wrapped :section, :class => 'articles' do
    - blog.articles[0...20].each do |article|

      %h3= article.title
      %p.meta
        %span.date= article.date.strftime('%e %b %Y')
        %span.author= "by #{article.data.author}"

      %p= article.summary
