---
title: Blog
body_class: blog
---

%article
  = wrapped :header do
    %h2 Blog

  = wrapped :section, :class => 'articles' do
    %ul
      - articles = blog.articles.select{|a| a.data['published'] }
      - articles[0...20].each_with_index do |article, index|
        %li(class="#{('first' if index.zero?)}")
          %h3= link_to article.title, article.url_without_extension
          .meta
            %small
              %span.date= article.date.strftime('%e %b %Y')
              %span.author= "by #{article.data.author}"
            %ul.tags
              - article.tags.each do |tag|
                %li= tag
          .block
            = article.summary
            %p.more
              = link_to "Read on&hellip;", article.url_without_extension
