---
body_class: index
---

%article
  %header
    %h2
      european ruby camp | summer edition
    %h3
      17 - 19 August 2012, Berlin

  = wrapped :section, :class => 'highlights' do
    %ul
      %li.venue
        %span
          On Berlin's Largest Lake,
          %br
          Müggelsee.
      %li.content
        %span
          Community-organised,
          %br
          not-for-profit.
      %li.spare-time
        %span
          Sessions. Hacking.
          %br
          Siesta breaks and Grill.

  .block
    = wrapped :section, :class => 'speakers' do
      %h3 Our speakers
      %ul
        - data.speakers.each do |speaker|
          %li
            %img(src="/images/content/speakers/#{speaker.image}" alt="Portrait: #{speaker.name}")
            %span
              %strong= speaker.name
              = speaker.company

      %p.cfp
        If you want to speak at eurucamp
        %a(href="https://eurucamp2012.busyconf.com/proposals/new" title="Call for proposals") you can still submit a proposal


    = wrapped :section, :class => 'twitter-feed' do
      %h3 Lately on Twitter
      .tweets

    = wrapped :section, :class => 'attendees' do
      %h3 Attending
      %ul
        - data.index.attendees.each do |id|
          %li
            %a(href="https://twitter.com/#{id}" title="View #{id} on Twitter")
              %img(src="https://api.twitter.com/1/users/profile_image/#{id}" alt="Avatar for #{id}")
      %p.more
        If you are attending
        %a(href="http://lanyrd.com/2012/eurucamp/" title="eurucamp on lanyard.com") Let us know on Lanyrd

/
  %section.sponsors
    = wrapped :header do
      %h3 Our sponsors

      - data.index.sponsors.each do |group|
        = wrapped :div, :class => group.type.downcase do
          %h4= group.type
          %ul
            - group.companies.each do |company|
              = wrapped :li do
                = link_to company.url do
                  %img(src="/images/content/sponsors/#{company.image}" alt="Sponsor: #{company.name}")


