!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title= [current_page.data.title, 'eurucamp'].compact.flatten.join(' | ')
    %meta(content="" name="description")
    %meta(content="" name="author")
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")
    = feed_tag :atom, "/feed.xml", :title => "ATOM"

    %link(href="favicon.ico" rel="shortcut icon")
    %link(href="apple-touch-icon-57x57-precomposed.png" rel="apple-touch-icon")
    %link(href="apple-touch-icon-72x72-precomposed.png" sizes="72x72" rel="apple-touch-icon")
    %link(href="apple-touch-icon-114x114-precomposed.png" sizes="114x114" rel="apple-touch-icon")

    = stylesheet_link_tag 'screen'

    %script(src="/javascripts/lib/modernizr.js")
    %script(src="http://use.typekit.com/uxm6bkh.js")

    :javascript
      try { Typekit.load(); } catch(e) {};

  %body(class="#{current_page.data.body_class}")
    #container
      = partial 'partials/header'
      #main(role="main")
        = yield
      = partial 'partials/footer'
