!!! 5
- ie_html :lang => 'en', :class => 'no-js' do
  %head
    %meta(charset="utf-8")
    %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")
    %title eurucamp
    %meta(content="" name="description")
    %meta(content="" name="author")
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")

    %link(href="favicon.png" rel="shortcut icon")

    = stylesheet_link_tag 'screen'

    = javascript_include_tag 'http://use.typekit.com/snt3fzj.js'
    :javascript
      try { Typekit.load(); } catch (e) {}

    = javascript_include_tag 'application'

  %body
    #main(role="main")
      = wrapped :header, :id => 'header' do
        = partial 'partials/header'

      #content
        = yield

      %footer#footer
        = partial 'partials/footer'
