---
body_class: schedule
title: Schedule
---
= wrapped :article do
  %header
    %h2 Schedule

    %h3 An overview of the camp days

  %p &nbsp;

  .schedules
    %ul.legend
      - (8..22).step(0.5) do |hour|
        %li
          = float_to_time hour

    %ul.days
      - %w(Friday Saturday Sunday).each do |day|
        - multi_track_sessions = data.schedule[day.downcase]["multi_track"] rescue false
        %li(class="#{day.downcase} #{'multi-track' if multi_track_sessions}")
          %strong= day
          %ul
            - if multi_track_sessions
              - multi_track_sessions.each do |track|
                %li.track(class="#{track.name.parameterize}")
                  %strong= track.name
                  %ul
                    = partial 'partials/sessions', :locals => {:sessions => track.sessions}

            - else
              = partial 'partials/sessions', :locals => {:sessions => data.schedule[day.downcase]}

  %p Friday daytime is multi-track comprising:
  %ul
    %li= link_to "a beginners’ workshop track", 'http://railsgirlsberlin.tumblr.com/workshops/eurucamp-beginners-workshop-supported-by-rails-girls-berlin-august-2012'
    %li= link_to 'JRubyConf EU', 'http://jrubyconf.eu'
    %li an advanced workshop track
