---
title: Speakers
body_class: speakers
---

%article
  = wrapped :header do
    %h2 Speakers

  = wrapped :aside do
    %nav
      %ul

        - data.speakers.select{ |s| %w(main advanced_workshops outdoor_activities).include?(s.track) }.sort{ |a,b| a.name <=> b.name }.each do |speaker|
          %li
            %a(href="##{speaker.name.parameterize}" title="Jump to #{speaker.name}")
              = speaker.name

  = wrapped :section do
    %ul
      - data.speakers.select{ |s| %w(main advanced_workshops outdoor_activities).include?(s.track) }.sort{ |a,b| a.name <=> b.name }.each_with_index do |speaker, index|
        %li(id="#{speaker.name.parameterize}" class="#{index % 2 == 0 ? "odd" : "even"}")
          = wrapped :div, :class => 'column info' do
            %img(src="/images/content/speakers/#{speaker.image}"  alt="Portrait: #{speaker.name}")
            %h3
              = link_to speaker.name, speaker.url
            - if speaker.company_url
              = link_to speaker.company, speaker.company_url, :class => 'company'
            - else
              %span.company= speaker.company
            = link_to "@#{speaker.twitter}", "http://twitter.com/#{speaker.twitter}", :class => 'twitter'
          = wrapped :div, :class => 'column bio' do
            = vimeo speaker.videos.info if speaker.videos && speaker.videos.info
            = md2html speaker.bio

          - unless speaker.track == 'outdoor_activities'
            = wrapped :div, :class => 'column talk' do
              %h4
                = speaker.talk_title
                - if speaker.track.include? 'workshop'
                  %br
                  %span= speaker.track.humanize.singularize
              = vimeo speaker.videos.talk if speaker.videos && speaker.videos.talk
              %div
                = md2html speaker.talk_summary

