---
title: Speakers
body_class: speakers
---

%article
  = wrapped :header do
    %h2 Speakers

  %ul
    - data.speakers.select{ |s| s.track == 'main' }.sort{ |a,b| a.name <=> b.name }.each do |speaker|
      %li(id="#{speaker.name.parameterize}")
        %img(src="/images/content/speakers/#{speaker.image}"  alt="Portrait: #{speaker.name}")
        %h3= link_to speaker.name, speaker.url
        %div= link_to speaker.company, speaker.company_url
        %div= link_to "@#{speaker.twitter}", "http://twitter.com/#{speaker.twitter}"
        %p= md2html speaker.bio

        %h4 #{speaker.talk_title}
        %p= md2html speaker.talk_summary
