---
title: Speakers
body_class: speakers
---

%article
  = wrapped :header do
    %h2 Speakers

  = wrapped :section do
    %ul
      - data.speakers.select{ |s| s.track == 'main' }.sort{ |a,b| a.name <=> b.name }.each_with_index do |speaker, index|
        %li(id="#{speaker.name.parameterize}" class="#{index % 2 == 0 ? "odd" : "even"}")
          = wrapped :div, :class => 'column info' do
            %img(src="/images/content/speakers/#{speaker.image}"  alt="Portrait: #{speaker.name}")
            %h3
              = link_to speaker.name, speaker.url
            - if speaker.company_url
              = link_to speaker.company, speaker.company_url, :class => 'company'
            - else
              %span.company= speaker.company
            = link_to "@#{speaker.twitter}", "http://twitter.com/#{speaker.twitter}", :class => 'twitter'
          = wrapped :div, :class => 'column bio' do
            = md2html speaker.bio

          = wrapped :div, :class => 'column talk' do
            %h4
              = speaker.talk_title
            %div
              = md2html speaker.talk_summary
