---
body_class: venue
title: Location
---
%article
  = wrapped :header do
    %h2 The venue
    %h3 On Berlin's biggest lake.

  = wrapped :section, :class => 'intro' do
    :markdown
      It's summer. Who wants to suffer in the urban jungle? This year's eurucamp heads out of town to the biggest of Berlin's abundant lakes, the [Müggelsee](http://en.wikipedia.org/wiki/M%C3%BCggelsee).

      Talks will take place at the [Hotel Müggelsee](http://www.hotel-mueggelsee-berlin.de/en).
      Activites will take place around (and possibly in) the lake.

  = wrapped :section, :class => 'hotel' do
    %h4 Staying at Hotel Müggelsee

    %p
      Hotel Müggelsee sits on the banks of the lake and is surrounded by circa 48,000 m² of woodland and parks. Naturally, you'll also be able to stay overnight at the venue. In fact, for the most fun, we recommend staying here.
    %p
      Hotel rooms are available for eurucamp attendees at the following special
      rates until the 17th July:
    %ul
      %li &euro;59 (inc. VAT) per night for a single room, with breakfast.
      %li &euro;89 (inc. VAT) per night for a double room, with breakfast.

    %p The booking link will be available shortly.

  = wrapped :section, :class => 'camping' do
    %h4 Camping
    %p
      Prefer to really ‘rough it‘ and camp? Camping facilities are available
      nearby, and we will be posting further information shortly.

  = wrapped :section, :class => 'city' do
    %h4 Staying in the city
    %p
      Alternatively, if all this talk of the outdoors is too much for you, you can
      also elect to stay in the centre of Berlin and do a reverse commute out
      each day with the local crowd.

    %h4 Hostels
    %p Hostel information will be posted shortly.

    %h4 Couch
    %p
      Berlin has an active couch surfing scene with a monthly meet-up.
    %ul
      %li= link_to 'Couchsurfing',         'http://www.couchsurfing.org/'
      %li= link_to 'The Hospitality Club', 'http://www.hospitalityclub.org/'

    %h4 Apartment Rental
    %ul
      %li= link_to '9flats',           'http://www.9flats.com/'
      %li= link_to 'AirBnB',           'https://www.airbnb.com/'
      %li= link_to 'housetrip',        'http://www.housetrip.com/'
      %li= link_to 'Urban Apartments', 'http://www.urban-apartments.com/berlin/'

  = wrapped :section, :class => 'directions' do
    %h4 To Berlin from Out of Town
    %ul
      %li.train
        %strong By train
        %ul
          %li Train information will be posted shortly
      %li.plane
        %strong By plane
        Unfortunately, the opening of Berlin's new mega-airport Berlin-Brandenburg (BER) has been delayed until March 2013. In the meantime, Berlin's two existing airports remain open: Berlin Tegel (TXL) and Berlin Schönefeld (SXF).

        Of the two airports, the venue is located nearest to Schönefeld (17km), and 20 minutes by car/taxi. TXL is 37km.

    %h4 From Berlin and surroundings
    %ul
      %li.campbus
        %strong By CampBus
        If you are coming from the centre of Berlin, please stand by for information about the CampBus.
      %li.bike
        %strong By bike
        %p
          The venue lies directly on the <a href="http://www.euroroute-r1.de/EN/Introduction/Details/Introducing_the_Euroroute_R1/K407.htm">Euroroute R1 bicycle path</a>, which runs from Boulogne-sur-Mer in France to St. Petersberg in Russia.
        %ul
          %li Distance to Mitte (city centre): 23km.
          %li Distance to Altstadt Köpenick (S-Bahn): 6.8km.
          %li Distance to Erkner (S-Bahn): 8.8km.
        /More info: http://www.euroroute-r1.de/EN/Introduction/Germany/Berlin/Brandenburg/Details/Route_Berlin_Brandenburg/K460.htm?RID=435
        /Want to rent a bike? http://www.vmz-info.de/web/guest/fahrradverleih
      %li.public-transportation
        %strong By public transportation
        %iframe{frameborder: 0, style: "width:300px;height:196px;border:0;", src: "http://www.bvg.de/index.php/de/widgets/fahrinfo/1/300/2/%2012559%20Bln%20Treptow-K%C3%B6penick%2C%20M%C3%BCggelheimer%20Damm%20145%20"}
        //Bus 164
        //Richtung: S Kaulsdorf [1]
        //alle 20 Minuten

  = wrapped :address, :class => 'address' do
    %h4 Hotel Müggelsee
    %p
      Müggelheimer Damm 145
      %br
      12559 Berlin-Köpenick
      %br
      Deutschland

  %section.map
